torch==2.5.1
torchvision==0.20.1
ultralytics==8.3.40
insightface==0.7.3
easyocr==1.7.2
opencv-python==4.10.0.84
matplotlib==3.9.2
numpy==2.2.0
albumentations==1.4.11
onnxruntime==1.20.1
protobuf==3.20.2
sympy==1.13.1
scipy>=1.1.0
scikit-image>=0.16.1
scikit-learn>=0.19.1
Pillow>=10.1.0
tqdm>=4.0
PyYAML>=6.0
